{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Accordion</title>
    <link rel="stylesheet" href="{% static 'bootstrap-modified.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            background-color: white;
        }

        .accordion-area {
            max-width: 40vw;
        }

        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        /* .active, */
        .accordion:hover {
            background-color: #ccc;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }
    </style>
</head>

<body>


    <div class="mt-5 pt-5 text-center">
        <h2 style="text-align: center;">Accordion</h2><br>
    </div>
    <div class="container  pb-3 mb-3 accordion-area">

        <div class="accordion-box" id="about">
            <div class="accordion">
                <a class="klikJudul">About</a>
                <button style="margin-left: 71%;" class="up"> Up </button>
                <button class="down"> Down </button>
            </div>

            <div class="panel p-3">
                <p>Ini accordionnya Wening</p>
            </div>
        </div>


        <div class="accordion-box" id="activities">
            <div class="accordion">
                <a class="klikJudul">Activities</a>
                <button style="margin-left: 67%;" class="up"> Up </button>
                <button class="down"> Down </button>
            </div>

            <div class="panel p-3">
                <p>Sibuk pokoknya</p>
            </div>
        </div>


        <div class="accordion-box" id="experiences">
            <div class="accordion">
                <a class="klikJudul">Experiences</a>
                <button style="margin-left: 62%;" class="up"> Up </button>
                <button class="down"> Down </button>
            </div>

            <div class="panel p-3">
                <p>Masih mau nambah pokoknya</p>
            </div>
        </div>


        <div class="accordion-box" id="achievements">
            <div class="accordion">
                <a class="klikJudul">Achievements</a>
                <button style="margin-left: 60%;" class="up"> Up </button>
                <button class="down"> Down </button>
            </div>

            <div class="panel p-3">
                <p>Ini juga masih mau nambah</p>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h3>Try me!</h3>
        <button class="bg-default"> Default </button>
        <button class="bg-pink"> Pink </button>
        <button class="bg-salmon"> Salmon </button>
        <button class="bg-cream"> Cream </button>
    </div>

    <script>

        $(document).ready(function () {

            $(".accordion").click(function () {

                if ($(event.target).is('button')) {
                    event.preventDefault();
                    return;
                }

                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this).siblings(".panel").slideUp();
                }

                else {
                    $(".accordion").removeClass("active");
                    $(this).addClass("active");
                    $(".panel").slideUp();
                    $(this).siblings(".panel").slideDown();
                };
            });

            $('.up').click(function () {
                var box = $(this).parents('div.accordion-box');
                box.after(box.prev());
            });

            $('.down').click(function () {
                var box = $(this).parents('div.accordion-box');
                box.before(box.next());
            });

            $(".bg-default").click(function () {
                $("body").css("background-color", "#FFFFFF");
                $(".accordion").css("background-color", "#eee");
            });

            $(".bg-pink").click(function () {
                $("body").css("background-color", "#F38C8F");
                $(".accordion").css("background-color", "#F2B8A4");
            });

            $(".bg-salmon").click(function () {
                $("body").css("background-color", "#F2B8A4");
                $(".accordion").css("background-color", "#FFFFFF");
            });

            $(".bg-cream").click(function () {
                $("body").css("background-color", "#F4D2B6");
                $(".accordion").css("background-color", "#F38C8F");
            });

        });

    </script>

</body>

</html>