<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome | Sign Up</title>
    <link rel="stylesheet" href="{% static 'bootstrap-modified.css' %}" />
    <link rel="stylesheet" href="{% static 'style10.css' %}" />
</head>

<body>
    <div class="main">
        {% if user.is_authenticated %}
        <p> Hey, {{ user.username }}, looks like you've already signed in. Click <a
                href="{% url 'story10:login' %}">this link</a> to go back to homepage </p>
        {% else %}

        <h1>create account</h1>

        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-2"></div>
                <form action="" method="POST" class="col-lg-4 col-sm-8 ">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="e-mail" name="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-rose mt-3 mb-4" id="signup">sign up</button>
                </form>
                <div class="col-lg-4 col-sm-2"></div>
            </div>
        </div>

        <p>or <a href="{% url 'story10:login' %}">log in</a> if you already have an account</p>

    </div>

    {% for message in messages %}
    <script>
        alert("{{ message }}")
    </script>
    {% endfor %}

    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'story10.js' %}"></script>
</body>

</html>