<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'bootstrap-modified.css' %}" />
    <link rel="stylesheet" href="{% static 'style10.css' %}" />
</head>

<body>

    <div class="main">
        {% if user.is_authenticated %}
        <h1> How's your day, {{ user.username }}? </h1>
        <p class="mt-5">If you ever have a bad day, it doesn't mean you'll have a bad life. Chin up butter cup,
            <br>everything’s gonna be ok.</p>

        <a href="{% url 'story10:logout' %}" class="btn btn-rose mt-5" id="logout" style="color: white;"
            name="logout">Log Out</a>

        {% else %}
        <h1>welcome back!</h1>

        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-2"></div>
                <form action="" method="POST" class="col-lg-4 col-sm-8 ">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-rose mt-3 mb-4" id="login">log in</button>
                </form>
                <div class="col-lg-4 col-sm-2"></div>
            </div>
        </div>

        <p>or <a href="{% url 'story10:home' %}">sign up</a> if you don't have an account</p>

        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}


        {% endif %}

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'story10.js' %}"></script>

</body>

</html>