<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-modified.css' %}" />
</head>

<body>
    <div class="main">
        <div class="container text-center align-middle" style="margin-top: 30vh; ">
            <h3>Hello, {{ nama }}</h3>
            <h3>is it true you want to send this message?</h3>
            <p style="font-size: larger;">"{{ pesan }}"</p><br>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="rejected btn-primary click " type="submit" name="action" value="no" />
                <input class="confirmed btn-primary click" type="submit" name="action" value="yes" />
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>