<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Spread Your Message!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-modified.css' %}" />
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="row" style="background-color: white; min-height: 80vh; margin-top: 4rem;">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 form-area" style="margin-top: 4rem;">
                    <h1>let the world hear <br>your message</h1><br>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <b>{{ field.label_tag }}<br></b>
                        {{ field }}<br><br>
                        {% endfor %}
                        <input class="submit" type="submit" value="Submit" class="btn-primary click" />
                    </form>
                </div>
                <div class="col-lg-5 preview-area " style="margin-top: 4rem;">
                    <div class="container-scrollable prev_box text-lg-left text-md-left text-center mb-5">
                        {% for message in list %}
                        <b>
                            <p class="prev_name" style="font-size: 20px;">{{ message.nama }} said</p>
                        </b>
                        <p class="prev_message">"{{ message.pesan}}"</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>