{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'bootstrap-modified.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    <div class="container mt-5">
        <h2 align="center">Finding Books With JSON</h2>
        <br>
        <div align="center">
            <input type="text" name="search" id="search" placeholder="Search by book title" class="form-control"><br>
            <button class="btn btn-info" id="top5button" type="button" data-toggle="modal" data-target="#topmodal">View
                top 5 liked
                books</button>
        </div>

        <div class="modal fade" id="topmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Top 5 Liked Books</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Book Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Likes</th>
                                </tr>
                            </thead>
                            <tbody id="topbooks">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Author</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="result">
            </tbody>
        </table>

        </h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'jquery.cookie.js' %}"></script>

        <script>
            var csrftoken = $.cookie('csrftoken');
            // var weburl = "http://127.0.0.1:8000/book/"
            var weburl = "https://tddnyawening.herokuapp.com/book/"
            $(document).ready(function () {

                $("#search").keyup(function () {
                    var search = document.getElementById('search').value
                    document.getElementById('result').innerHTML = ""
                    console.log(search)
                    $.ajax({
                        type: 'GET',
                        url: "https://www.googleapis.com/books/v1/volumes?q=" + search,
                        weburl: weburl,
                        dataType: 'json',

                        success: function (data) {
                            console.log(data)
                            for (i = 0; i < data.items.length; i++) {
                                var info = data.items[i]
                                console.log(info.id)
                                result.innerHTML += "<tr id='" + info.id + "~" + info.volumeInfo.title + "~" + info.volumeInfo.imageLinks.thumbnail + "~" + info.volumeInfo.authors + "'><td><img height=40px src='" +
                                    info.volumeInfo.imageLinks.thumbnail + "'></td><td>" +
                                    info.volumeInfo.title + "</td><td>" +
                                    info.volumeInfo.authors +
                                    "</td><td><button type='button' class='btn btn-danger like'>&hearts;</button></td></tr>"
                            }
                            $(".like").click(function () {
                                var info = this.parentNode.parentNode.id
                                var raw = info.split("~")
                                if (raw.length < 3) {
                                    raw.push("undefined")
                                }
                                console.log(info)
                                console.log(raw.toString())
                                console.log("ASJFKAFNKJAFNAAAAAAAAAA MASUK")
                                $.ajax({
                                    type: 'POST',
                                    url: weburl + "like/",
                                    // url: weburl,
                                    dataType: "json",
                                    data: {
                                        'id': raw[0],
                                        'title': raw[1],
                                        'imageLink': raw[2],
                                        'author': raw[3],
                                    },
                                    success: function () {
                                        console.log("AAAAAAAAAAAAAAADINAIDNAJDNAJKS")

                                    }
                                })
                            });
                        },
                    });

                });

                $("#top5button").click(function () {
                    document.getElementById('topbooks').innerHTML = ""
                    $.ajax({
                        type: "POST",
                        url: weburl,
                        success: function (res) {
                            var books = JSON.parse(res);
                            console.log(books)
                            for (i = 0; i < books.length; i++) {
                                topbooks.innerHTML += "<tr><td><img height=40px src='" +
                                    books[i].imageLink + "'></td><td>" +
                                    books[i].title + "</td><td>" +
                                    books[i].author + "</td><td>" +
                                    books[i].likes + "</td></tr>"
                            }
                        }

                    });
                });

                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

            });

        </script>

</body>

</html>